// menu wrapper
.menu-list {
    width: 224px;

    // menu item
    .menu-item {
        margin-left: 0;
        width: 100%;
        justify-content: flex-start;
        border-radius: 0;
        font-weight: 500;
        padding: 11px 16px;
    }
}

.menu-item {
    &:hover {
       background-color: rgba($color: var(--color-grey), $alpha: 0.03); 
    }
}