@import 'normalize.css';

// Fonts enmbeded
@font-face {
    font-family: ProximaNova;
    src: url('src/assets/fonts/Proxima-Nova-Regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: ProximaNova;
    src: url('src/assets/fonts/ProximaNova-Semibold.woff2');
    font-weight: 600;
}

@font-face {
    font-family: ProximaNova;
    src: url('src/assets/fonts/Proxima-Nova-Bold.woff');
    font-weight: 700;
}

@font-face {
    font-family: SofiaPro;
    src: url('src/assets/fonts/sofiapro-bold.woff');
    font-weight: 700;
}

:root {
    --color-primary: #fe2c55;
    --color-primary-hover: #fcf1f3;
    --color-black: #000;
    --color-white: #fff;
    --color-text: #333;
    --color-check-icon: 32, 213, 236;
    --color-grey: 22, 24, 35;

    //layout
    --width-layout-content: 1150px;
    --width-layout-space-horizontal: 24px;

    --height-layout-header: 60px;

    // font
    --font-family-main: "ProximaNova", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family-main);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

button, input, [tabindex] {
    outline: none;
    border: none;
}

a[href] {
    text-decoration: none;
    color: var(--color-text);
}

// Custom tippy tooltip
body .tippy-box {
    border-radius: 8px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.2rem;
    background-color: rgba(84, 84, 84, 0.92);
    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }
    .tippy-box[data-placement^=bottom]>.tippy-arrow:before {
        top: -8px;
    }
    .tippy-content {
        padding: 8px 9px;
    }
}